<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <UserName>$project-tira-staging-fn</UserName>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://project-tira-staging-fn.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/faf0504e-94b1-4d8e-8e3e-01f67e66dced/resourceGroups/staging/providers/Microsoft.Web/sites/project-tira-staging-fn</ResourceId>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://project-tira-staging-fn.scm.azurewebsites.net/</PublishUrl>
    <TargetFramework>netcoreapp2.2</TargetFramework>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <SelfContained>false</SelfContained>
    <_IsPortable>true</_IsPortable>
  </PropertyGroup>
</Project>